<a
  rel="nofollow"
  target="_blank"
  [href]="repo?.value"
  *ngIf="repo?.type === 'link'; else showDiv"
  (click)="onLinkClick('external', repo?.value?.toString())"
>
  <ng-container [ngTemplateOutlet]="main"></ng-container>
</a>
<ng-template #showDiv>
  <ng-container [ngTemplateOutlet]="main"></ng-container>
</ng-template>
<ng-template #main>
  <div *ngIf="repo?.value" class="preview-container">
    <div class="space-y-1 items-center">
      <div class="flex space-x-2 items-center">
        <fe-icon [icon]="'github'" [size]="7"></fe-icon>
        <h5 class="-mt-1">{{ repo?.value?.toString() | feExtractNamePipe }}</h5>
      </div>
      <div class="text-md text-gray-500">
        {{ repo?.technologies | feArrayNamePipe }}
      </div>
      <div class="text-md leading-4">{{ repo?.description }}</div>
    </div>
  </div>
</ng-template>
