<section class="my-8 space-y-8">
  <div>
    <fe-accordion>
      <h3 class="heading" heading>
        Education
      </h3>
      <ul class="md:grid md:grid-cols-3 2xl:grid-cols-4 md:gap-3">
        <li *ngFor="let education of block">
          <div class="space-y-2">
            <div class="flex justify-between items-center">
              <h5>{{ education.school }}</h5>
              <div>{{ education.startyear }} - {{ education.endyear }}</div>
            </div>
            <div class="flex justify-between items-center">
              <div>{{ education.degree }} in {{ education.field }}</div>
            </div>
          </div>
        </li>
      </ul>
    </fe-accordion>
  </div>
</section>
