<section class="space-y-8">
  <fe-accordion>
    <h3 class="md:heading gradient-text" heading>Education</h3>
    <ul class="md:grid md:grid-cols-2 md:gap-3 2xl:grid-cols-3">
      <li *ngFor="let education of block; trackBy: trackByKeyFn">
        <div class="space-y-2">
          <div class="flex items-center justify-between">
            <div>
              <div class="text md:text-xl">{{ education.school }}</div>
              <div class="text-md text-gray-500">
                {{ education.location }}
              </div>
            </div>
            <div class="text-md text-gray-900">
              {{ education.startyear }} - {{ education.endyear }}
            </div>
          </div>
          <div class="text-md">
            <div>{{ education.degree }} in {{ education.field }}</div>
          </div>
        </div>
      </li>
    </ul>
  </fe-accordion>
</section>
