<fe-header></fe-header>
<div class="container">
  <h1 class="my-4 flex justify-center items-center">Anirban Mukherjee</h1>
  <ng-container *ngIf="github$ | async as github">
    <fe-github [block]="github"></fe-github>
  </ng-container>
  <ng-container *ngIf="profile$ | async as profile">
    <fe-profile [block]="profile"></fe-profile>
  </ng-container>
  <ng-container *ngIf="techstack$ | async as techstack">
    <fe-techstack [block]="techstack"></fe-techstack>
  </ng-container>
</div>
<ng-container *ngIf="footer$ | async as footer">
  <fe-footer [block]="footer"></fe-footer>
</ng-container>
