<fe-header></fe-header>
<main class="container my-20" (window:resize)="onResize()">
  <fe-notification *ngIf="updateAvailable$ | async">
    <ng-container text>
      <div class="dark-mode text-sm text-black-dark md:text-md">
        A new version is available. Refresh now?
      </div>
    </ng-container>
    <ng-container action>
      <div class="flex items-center justify-center space-x-2">
        <fe-button
          [buttonType]="{ type: 'button', ariaLabel: 'reload' }"
          (onclick)="update.reload()"
        >
          <div
            class="material-symbols-rounded flex items-center text-green-800"
            translate="no"
          >
            done_all
          </div>
        </fe-button>
        <fe-button
          [buttonType]="{ type: 'button', ariaLabel: 'reject' }"
          (onclick)="update.hideNotification()"
          aria-label="reject"
        >
          <div
            class="material-symbols-rounded flex items-center text-red-800"
            translate="no"
          >
            block
          </div>
        </fe-button>
      </div>
    </ng-container>
  </fe-notification>
  <router-outlet></router-outlet>
</main>
<ng-container *ngIf="footer$ | async as footer">
  <fe-footer [block]="footer"></fe-footer>
</ng-container>
