<fe-header></fe-header>
<ng-container *ngIf="bio$ | async as bio; else loading">
  <div class="container">
    <h1 class="my-4 flex justify-center items-center">Anirban Mukherjee</h1>
    <fe-profile [block]="bio?.[0]"></fe-profile>
    <fe-techstack [block]="bio?.[1]"></fe-techstack>
    <fe-github [block]="bio?.[2]"></fe-github>
  </div>
  <fe-footer [block]="bio?.[3]"></fe-footer>
</ng-container>
<ng-template #loading>
  <div class="container my-10">
    <fe-skeleton [count]="3"></fe-skeleton>
  </div>
</ng-template>
