<footer class="fixed bottom-0 w-full bg-gray-50 border-t border-gray-100">
  <nav class="p-4 text-md">
    <div class="flex justify-between">
      <div class="flex space-x-4 lg:space-x-8" role="menu">
        <ng-container *ngFor="let link of block?.links; trackBy: trackByKeyFn">
          <fe-link [link]="link" (linkClick)="onLinkClick(link.type, link.url)"
            ><span>{{ link?.text }}</span></fe-link
          >
        </ng-container>
      </div>
      <span
        >&copy; {{ block?.copyright }},
        <time [dateTime]="block?.publishdate" publish-date>{{
          year
        }}</time></span
      >
    </div>
  </nav>
</footer>
