<ng-container *ngIf="showScroll$ | async">
  <fe-scroll (scrollToTop)="onScrollToTop()"></fe-scroll>
</ng-container>
<div
  *ngIf="biography$ | async as bio; else loading"
  class="space-y-16 mx-auto xl:max-w-3/4 2xl:max-w-4/5"
>
  <div>
    <fe-profile [block]="bio.profile?.[0]"></fe-profile>
  </div>
  <div>
    <fe-career
      [block]="bio.career"
      [feTrackable]="[caTrackingCallback]"
    ></fe-career>
  </div>
  <div *ngIf="data.techstack$ | async as techstack">
    <fe-techstack
      [block]="techstack?.[0]"
      [feTrackable]="[tsTrackingCallback]"
    ></fe-techstack>
  </div>
  <div>
    <fe-github
      [block]="data.github$ | async"
      [feTrackable]="[ghTrackingCallback]"
    ></fe-github>
  </div>
  <div>
    <fe-education
      [block]="data.education$ | async"
      [feTrackable]="[edTrackingCallback]"
    >
    </fe-education>
  </div>
</div>
<ng-template #loading>
  <div class="container my-24 md:my-40 mx-auto lg:w-1/2">
    <fe-skeleton [count]="3"></fe-skeleton>
  </div>
</ng-template>
