<ng-container *ngIf="showScroll$ | async">
  <fe-scroll (scrollToTop)="onScrollToTop()"></fe-scroll>
</ng-container>
<section class="mx-auto mt-16 md:mt-24 xl:max-w-3/4 2xl:max-w-4/5">
  <div
    role="img"
    class="profile-image mx-auto md:max-w-3/4 2xl:max-w-3/5"
    aria-label="profile image"
  ></div>
</section>
<div
  *ngIf="data.bio$ | async as bio"
  class="mx-auto space-y-16 xl:max-w-3/4 2xl:max-w-4/5"
>
  <div>
    <fe-profile [block]="bio"></fe-profile>
  </div>
  <div *ngIf="career">
    <fe-career [block]="career"></fe-career>
  </div>
  <div *ngIf="techstack">
    <fe-techstack [block]="techstack" [feTrackable]="[tsTrackingCallback]"></fe-techstack>
  </div>
  <div *ngIf="github">
    <fe-github [block]="github" [feTrackable]="[ghTrackingCallback]"></fe-github>
  </div>
  <div *ngIf="education">
    <fe-education [block]="education" [feTrackable]="[edTrackingCallback]">
    </fe-education>
  </div>
</div>
