<div *ngIf="data.bio$ | async as bio; else loading" class="space-y-16 mx-auto xl:max-w-3/4 2xl:max-w-4/5">
  <div>
    <fe-profile [block]="bio?.[0]?.[0]"></fe-profile>
  </div>
  <div>
    <fe-career [block]="bio?.[2]"></fe-career>
  </div>
  <div>
    <fe-techstack [block]="bio?.[1]?.[0]" [feTrackable]="tsCallback"></fe-techstack>
  </div>
  <div>
    <fe-github [block]="data.githubData$ | async" [feTrackable]="ghCallback"></fe-github>
  </div>
  <div>
    <fe-education [block]="data.educationData$ | async" [feTrackable]="edCallback"></fe-education>
  </div>
</div>
<ng-template #loading>
  <div class="container my-20">
    <fe-skeleton [count]="3"></fe-skeleton>
  </div>
</ng-template>
