<section>
  <h1 class="text-14xl text-center mb-16 mt-32 font-bold text-black-dark">
    !404!
  </h1>
  <p class="text-center">
    Sorry, the page you are looking for isn't available. The best way to fix
    this is to visit the
    <strong>
      <fe-link
        [link]="{
          type: 'internal',
          text: 'home page',
          title: 'Home',
          url: '/'
        }"
        (linkClick)="onLinkClick('internal')"
      >
      </fe-link> </strong
    >. Good luck!
  </p>
</section>
