<section class="mt-0">
  <div class="mx-auto md:max-w-3/4 2xl:max-w-3/5 !mt-7 drop-shadow-md">
    <div class="flex flex-col text-center">
      <h2 class="text-xl md:text-3xl lg:text-4xl mb-1.5 md:mb-2">
        {{ block?.designation }}
      </h2>
      <h3 class="text md:text-2xl lg:text-3xl mb-1.5 md:mb-2" translate="no">
        {{ block?.currentjob }}
      </h3>
      <h4 class="text-md md:text lg:text-xl mb-2 md:mb-2.5">
        {{ block?.location }}
      </h4>
      <div class="flex justify-center items-center space-x-4">
        <ng-container *ngIf="size$ | async as size">
          <ng-container
            *ngFor="let social of block?.social; trackBy: trackBySocialFn"
          >
            <fe-icon
              [icon]="social.type"
              [url]="social.url"
              [size]="size"
              loading="eager"
              (linkClick)="onLinkClickFromEmitter($event, 'external')"
            ></fe-icon>
          </ng-container>
        </ng-container>
      </div>
      <div class="grid place-content-center mt-4 mb-2">
        <fe-button
          [buttonType]="{ type: 'button', buttonClass: 'download-button' }"
          (onclick)="onDownloadResume(block?.artifact)"
          >Download Resume</fe-button
        >
      </div>
    </div>
  </div>
  <article class="mx-auto md:max-w-3/4 2xl:max-w-3/5 !mt-8 drop-shadow-md">
    <fe-block [style]="'inverted'">
      <div class="space-y-4 md:space-y-2 text-md md:text">
        <ng-container *ngFor="let bio of block?.bio; trackBy: trackByIndexFn">
          <div
            [innerHtml]="sanitizer.sanitizeHtml(bio)"
            (click)="onLinkClickEvent($event, 'external')"
          ></div>
        </ng-container>
      </div>
      <div class="mx-auto flex justify-between items-center mt-4">
        <div *ngFor="let blog of block?.blog; trackBy: trackByBlogFn">
          <fe-icon
            [icon]="blog.icon"
            [url]="blog.url"
            [size]="blog.iconSize ?? 10"
            [position]="blog.position"
            (linkClick)="onLinkClickFromEmitter($event, 'external')"
          >
            <span class="text-md md:text">{{ blog.description }}</span>
          </fe-icon>
        </div>
      </div>
    </fe-block>
  </article>
</section>
