/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    /* @apply bg-gradient-to-t to-gradient-start from-gradient-end !text-md; */
  }
  h1 {
    @apply text-4xl md:text-6xl;
  }
  h2 {
    @apply text-3xl md:text-5xl;
  }
  h3 {
    @apply text-2xl md:text-4xl;
  }
  h4 {
    @apply text-xl md:text-3xl;
  }
  h5 {
    @apply text-xl md:text-2xl;
  }
  h6 {
    @apply text md:text-xl;
  }
}

em {
  @apply not-italic;
}

mark {
  @apply bg-fluorescent-green-light;
}

.linkedin {
  color: var(--linkedin);
}

.twitter {
  color: var(--twitter);
}

.gradient-text {
  background-image: linear-gradient(
    45deg,
    rgba(var(--blue-raw), 0.9),
    rgba(var(--red-raw)) 55%,
    rgba(var(--blue-raw), 0.9) 75%
  );
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading {
  @apply ease-in hover:translate-x-1 hover:ease-out hover:tracking-wide duration-200;
}

a.navlink {
  @apply no-underline relative;
}

@media all and (hover: hover) {
  a.navlink::after {
    @apply absolute left-0 bottom-0 w-full h-[1px] bg-current origin-right scale-x-0;
    content: '';
    transition: transform 250ms ease-in;
  }

  a.navlink:hover::after {
    @apply scale-x-100 origin-left;
  }
}

li[fehover] {
  @apply relative rounded p-2 m-2.5 md:m-1 z-1 cursor-pointer border border-gray-300;
}

@media all and (hover: hover) {
  li[fehover]::after {
    @apply absolute left-0 top-0 bottom-0 w-full z-minus1 rounded origin-right scale-x-0;
    content: '';
    transition: transform 250ms ease-in;
    background-image: linear-gradient(
      45deg,
      rgba(var(--blue-raw), 0.11),
      rgba(var(--red-raw), 0.09) 55%,
      rgba(var(--blue-raw), 0.11) 75%
    );
  }

  li[fehover]:hover::after {
    @apply scale-x-100 origin-left;
  }
}
