<section>
  <fe-accordion>
    <h3 class="md:heading gradient-text" heading>Technologies</h3>
    <ul class="grid grid-cols-2 gap-0 md:grid-cols-4 2xl:grid-cols-5 md:gap-2">
      <li
        *ngFor="let tech of technologies; trackBy: trackByTechnologyFn"
        fehover
      >
        <a
          [href]="tech.url"
          rel="nofollow"
          target="_blank"
          *ngIf="tech.url; else showDiv"
        >
          <ng-container [ngTemplateOutlet]="innerContent"></ng-container>
        </a>
        <ng-template #showDiv>
          <ng-container [ngTemplateOutlet]="innerContent"></ng-container>
        </ng-template>
        <ng-template #innerContent>
          <div class="space-y-4">
            <div class="flex justify-between items-center">
              <fe-icon
                *ngIf="tech.icon"
                [icon]="tech.icon"
                [size]="8"
              ></fe-icon>
              <div class="text-md md:text">{{ tech.name }}</div>
            </div>
            <div>
              <fe-rating [rating]="tech.rating"></fe-rating>
            </div>
          </div>
        </ng-template>
      </li>
      <li *ngFor="let db of databases; trackBy: trackByDatabaseFn" fehover>
        <a
          [href]="db.url"
          rel="nofollow"
          target="_blank"
          *ngIf="db.url; else showDiv"
        >
          <ng-container [ngTemplateOutlet]="innerContent"></ng-container>
        </a>
        <ng-template #showDiv>
          <ng-container [ngTemplateOutlet]="innerContent"></ng-container>
        </ng-template>
        <ng-template #innerContent>
          <div class="space-y-4">
            <div class="flex justify-between items-center">
              <fe-icon *ngIf="db.icon" [icon]="db.icon" [size]="8"></fe-icon>
              <div class="text-md md:text">{{ db.name }}</div>
            </div>
            <div>
              <fe-rating [rating]="db.rating"></fe-rating>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
  </fe-accordion>
</section>
